<!--master template, same as index.html
it is just html with curly braces around the things you want to be dynamic-->
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThermoSecure by HouseCom</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Sintony|Source+Sans+Pro:700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/logo_icon.png">
</head>

<body data-sticky-container="">
  {{!-- START HOME --}}
    <header class="grid-container full sticky" data-sticky data-margin-top="0" id="mainHeader">
      <div class="grid-x">
        <!--LOGO-->
        <h1 class="hide">ThermoSecure by HouseCom</h1>
        <div class="cell small-12 large-3" id="logo">
          <a href="index.html">
            <img src="images/logo.png" alt="logo" class="logoImg">
          </a>
        </div>
        <!--MAIN NAV-->
        <nav class="show-for-large large-9" id="mainNav">
          <h2 class="hide">Main Navigation</h2>
          <ul id="menu">
            <li><a href="#aboutLink">About</a></li>
            <li><a href="#featuresLink">Features</a></li>
            <li><a href="#reviewsLink">Reviews</a></li>
            <li><a href="#contactLink">Contact</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>
      
    <!--PROMO SECTION-->   
    <section class="grid-container full" id="promoSection">
      <div class="grid-x">
        <div class="cell small 12" id="promoText">
          <h2>{{Tagline}}</h2>
        </div> 
      </div>
    </section>

    <!-- ABOUT SECTION -->
    <a id="aboutLink"></a>
    <section class="grid-container full" id="aboutSection">
      <div class="grid-x">
        <div class="cell small-12 large-8" id="aboutText">
          <h2>Your new all in one home system</h2>
          <p>Meet the ThermoSecure&trade; by HouseCom.&trade; It is a fully digital, hardwired and wireless enabled home personal and secure environment control system. Purchase comfort for your home today.</p>
          <button class="siteBtn">Buy Now</button>
        </div>
        <div class="cell small-12 large-4" id="aboutImg">
          <img class="hide-for-large" src="images/about_photo.png" alt="3D Product Image">
          <img class="show-for-large" src="images/about_photo_large.png" alt="3D Product Image">
        </div>
      </div>
    </section>

    <!-- VIDEO SECTION -->
    <section class="grid-container full" id="vidSection">
      <div class="grid-x">
        <div class="cell small-12" id="video">
          <h2 class="hide">Video</h2>
          <div id="videoBox">
            <video poster="images/vid_poster.png">
              <source src="video/thermosecure_video.mp4" type="video/mp4">
              Sorry, your browser doesn't support video.
            </video>
            <div class="controls">
              <img src="images/rewind.png" class="rewind" alt="rewind video">
              <img src="images/play.png" class="pause" alt="pause video">
              <img src="images/mute.png" class="mute" alt="mute video">
              <img src="images/replay.png" class="replay" alt="replay video">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FEATURE SECTION -->
    <a id="featuresLink"></a>
    <section class="grid-container full" id="featureSection">
      <div class="grid-x">
        <div class="cell small-12 large-4" id="featureTitle">
          <h2>A few reasons why we are the right fit for your home:</h2>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/weather.png" alt="weather icon" class="featureIcon">
          <h3>Weather</h3>
          <p>Before you head out the door, ask the system what the forecast is for the day.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/temperature.png" alt="temperature icon" class="featureIcon">
          <h3>Temperature</h3>
          <p>Too hot or cold? Adjust your home to the perfect heat or cool settings.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/entertainment.png" alt="entertainment icon" class="featureIcon">
          <h3>Entertainment</h3>
          <p>Connect to all your favourite listening platforms. Play all hands free.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/security.png" alt="security icon" class="featureIcon">
          <h3>Security</h3>
          <p>Keep your family safe with features such as lock door, carbon monoxide detector and more.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/convenience.png" alt="convenience icon" class="featureIcon">
          <h3>Convenience</h3>
          <p>ThermoSecure&trade; can be controlled at home or through your iOS or Android device.</p>
        </div>
      </div>
    </section>

    <!-- IMAGES SECTION -->
    <section class="grid-container full" id="imagesSection">
      <div class="grid-x">
        <h2 class="hide">Images</h2>
        <div class="cell small-12 medium-4 image">
          <img src="images/imgSection1.jpg" alt="ThermoSecure in a home">
        </div>
        <div class="cell small-12 medium-4 image">
          <img src="images/imgSection2.jpg" alt="ThermoSecure app on a tablet">
        </div>
        <div class="cell small-12 medium-4 image">
          <img src="images/imgSection3.jpg" alt="ThermoSecure app on a smart watch">
        </div>
      </div>
    </section>

    <!-- REVIEW PAGE -->
    <a id="reviewsLink"></a>
    <section class="grid-container full" id="reviewSection">
      <div class="grid-x">
        <div class="cell small-12">
          <h2>You've told us...</h2>
          <p>"I was told by my friend Pan that the ThermoSecure&trade; system is the best. He is right! My favourite feature is surveillance - I find it comforting to know when my kids are home from school."</p>
          <div id="reviewImg">
            <ul>
              <li><img src="images/review_icon2.png" alt="Reviewer Icon" class="reviewImg"></li>
              <li><img src="images/review_icon.png" alt="Reviewer Icon" class="reviewImg" id="reviewImgSelect"></li>
              <li><img src="images/review_icon2.png" alt="Reviewer Icon" class="reviewImg"></li>
            </ul>
          </div>
          <p>Trevor Van Rys</p>
          <p>London, Ontario</p>
        </div>
      </div>
    </section>

    <!-- PHOTO PAGE -->
    <section class="grid-container full" id="photoSection">
      <div class="grid-x">
        <div class="cell small-12">
          <h2 class="hide">ThermoSecure App Photo</h2>
          <img src="images/imgSection4.jpg" alt="ThermoSecure app on a desktop">
        </div>
      </div>
    </section>

    <!-- CONTACT PAGE -->
    <a id="contactLink"></a>
    <section class="grid-container full" id="contactSection">
      <div class="grid-x">
        <form class="cell large-12" id="contactForm">
          <h2>Any Questions?</h2>
          <label class="hide" for="name">Name</label>
          <input type="text" required placeholder="Name" id="name" class="contactInput">

          <label class="hide" for="email">Email</label>
          <input type="email" required placeholder="Email" id="email" class="contactInput">

          <label class="hide" for="message">Message</label>
          <textarea required placeholder="Message" id="message" class="contactInput"></textarea>
          <a class="siteBtn" href="#">Send</a>
        </form>
      </div>
    </section>
    
    <!-- FOOTER -->
    <section class="grid-container full" id="mainFooter">
      <div class="grid-x">
        <div class="cell large-12">
          <div id="socialMedia">
            <h2 class="hide">Social Media Links</h2>
            <a href="https://www.facebook.com/" target="_blank"><img src="images/facebook.png" alt="Image of Facebook Icon" title="HouseCom Facebook"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="images/twitter.png" alt="Image of Twitter Icon" title="HouseCom Twitter"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="images/instagram.png" alt="Image of Instagram Icon" title="HouseCom Instagram"></a>
          </div>
          <p>Copyright 2019, HouseCom. All Rights Reserved.</p>
        </div>
      </div>
    </section>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/video.js"></script>
</body>
</html>