<!--master template, same as index.html
it is just html with curly braces around the things you want to be dynamic-->
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ThermoSecure by HouseCom</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Sintony|Source+Sans+Pro:700&display=swap" rel="stylesheet">
</head>

<body>
  <!--this is a placeholder tag - express will render templates / partials here-->
  

  {{!-- START HOME --}}
    <header class="grid-container full" id="mainHeader">
      <div class="grid-x">
        <!--LOGO-->
        <div class="cell small-12 large-3" id="logo">
          <a href="index.html">
            <img src="images/logo.png" alt="logo" class="logoImg">
          </a>
        </div>
        <!--MAIN NAV-->
        <nav class="show-for-large large-9" id="mainNav">
          <ul id="menu">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">FEATURES</a></li>
            <li><a href="#">REVIEWS</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="#">LOGIN</a></li>
          </ul>
        </nav>
      </div>
      <h1>{{Tagline}}</h1>
    </header>
      
    <!--PROMO SECTION-->   
    <section class="grid-container full" id="promoSection">
      <div class="grid-x">
        <div class="cell small 12" id="promoText">
          <h2>Comfort at Your Convenience</h2>
        </div> 
    </section>

    <!-- ABOUT SECTION -->
    <section class="grid-container full" id="aboutSection">
      <div class="grid-x">
        <div class="cell small-12 medium-8" id="aboutText">
          <h2>About Us</h2>
          <p>Text here</p>
          <button id="aboutBtn">Buy Now</button>
        </div>
        <div class="cell small-12 medium-4" id="aboutImg">
          <img src="" alt="3D Product Image">
        </div>
      </div>
    </section>

    <!-- VIDEO SECTION -->
    <section class="grid-container full" id="vidSection">
      <div class="grid-x">
        <div class="cell small-12" id="video">
          <video poster="" autostart="false">
            <source src="" type="video/mp4">
          </video>
          <div class="controls">
            <img src="images/rewind.png" class="rewind" alt="rewind video">
            <img src="images/play.png" class="pause" alt="pause video">
            <img src="images/mute.png" class="mute" alt="mute video">
            <img src="images/replay.png" class="replay" alt="replay video">
          </div>
        </div>
      </div>
    </section>

    <!-- FEATURE SECTION -->
    <section class="grid-container full" id="featureSection">
      <div class="grid-x">
        <div class="cell small-12 large-4" id="featureTitle">
          <h2>Features</h2>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/weather.png" alt="weather icon" class="featureIcon">
          <h3>TITLE</h3>
          <p>We create concepts, develop mockups and create print-ready files for your product.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/temperature.png" alt="temperature icon" class="featureIcon">
          <h3>TITLE</h3>
          <p>We create concepts, develop mockups and create print-ready files for your product.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/entertainment.png" alt="entertainment icon" class="featureIcon">
          <h3>TITLE</h3>
          <p>We create concepts, develop mockups and create print-ready files for your product.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/security.png" alt="security icon" class="featureIcon">
          <h3>TITLE</h3>
          <p>We create concepts, develop mockups and create print-ready files for your product.</p>
        </div>
        <div class="cell small-12 large-4 feature">
          <img src="images/convenience.png" alt="convenience icon" class="featureIcon">
          <h3>TITLE</h3>
          <p>We create concepts, develop mockups and create print-ready files for your product.</p>
        </div>
      </div>
    </section>

    <!-- IMAGES SECTION -->
    <section class="grid-container full" id="imagesSection">
      <div class="grid-x">
        <div class="cell small-12 medium-4 image">
          <img src="" alt="">
        </div>
        <div class="cell small-12 medium-4 image">
          <img src="" alt="">
        </div>
        <div class="cell small-12 medium-4 image">
          <img src="" alt="">
        </div>
      </div>
    </section>

    <!-- REVIEW PAGE -->
    <section class="grid-container full" id="reviewSection">
      <div class="grid-x">
        <div class="cell small-12">
          <h2>Reviews</h2>
          <p>Quote Here</p>
          <p>Name</p>
          <p>Location</p>
          <ul id="reviewImgList">
            <li><img src="" alt="" class="reviewImg"></li>
            <li><img src="" alt="" class="reviewImg"></li>
            <li><img src="" alt="" class="reviewImg"></li>
          </ul>
        </div>
      </div>
    </section>

    <!-- PHOTO PAGE -->
    <section class="grid-container full" id="photoSection">
      <div class="grid-x">
        <div class="cell small-12">
          <img src="" alt="product image">
        </div>
      </div>
    </section>

    <!-- CONTACT PAGE -->
    <section class="grid-container full" id="contactSection">
      <div class="grid-x">
        <form class="cell large-12" id="contactForm">
          <h2>Contact</h2>
          <label class="hide" for="name">Name</label>
          <input type="text" required placeholder="Name" id="name" class="contactInput">

          <label class="hide" for="email">Email</label>
          <input type="email" required placeholder="Email" id="email" class="contactInput">

          <label class="hide" for="message">Message</label>
          <textarea required placeholder="Message" id="message" class="contactInput"></textarea>
          <a id="contactButton" href="#">Send</a>
        </form>
      </div>
    </section>
    
    <!-- FOOTER -->
    <section class="grid-container full" id="mainFooter">
      <div class="grid-x">
        <div class="cell large-12">
          <div id="socialMedia">
            <h2 class="hide">Social Media Links</h2>
            <a href="https://www.facebook.com/" target="_blank"><img src="images/facebook.png" alt="Image of Facebook Icon" title="HouseCom Facebook"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="images/twitter.png" alt="Image of Twitter Icon" title="HouseCom Twitter"></a>
            <a href="https://www.instagram.com" target="_blank"><img src="images/instagram.png" alt="Image of Instagram Icon" title="HouseCom Instagram"></a>
          </div>
          <p>Copyright 2019, HouseCom. All Rights Reserved.</p>
        </div>
      </div>
    </section>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
</body>
</html>