#mainHeader {
  background-color: #fff;
  margin-bottom: -8px;
}

#logo {
  text-align: center;
  width: 40%;
  padding: 1%;
}

#mainNav {
  list-style-type: none;
  text-align: right;
  float: left;
  padding: 3% 1% 1% 1%;
}

#mainNav li {
  border-bottom: none;
  display: inline;
  padding: 20px;
  font-size: 1em;
}

#mainNav li a {
  padding: 5px 0 5px 0;
  color: #174793;
  font-family: "Sintony", sans-serif;
}

#mainNav li a:hover {
  color: #f1a300;
}

@media screen and (min-width: 48em) {
  #logoImg {
    width: 30%;
  }
}
@media screen and (min-width: 64em) {
  #logo {
    width: 25%;
  }
}
@media screen and (min-width: 90em) {
  #logo {
    text-align: left;
    width: 20%;
    padding-left: 5%;
  }
}
#promoSection {
  background: linear-gradient(white, rgba(255, 255, 255, 0)), url(../images/promoImg.jpg) no-repeat fixed;
  background-size: 110%;
  height: 40vh;
  text-align: center;
  color: #174793;
}

#promoSection h2 {
  font-size: 2.6em;
}

#promoText {
  padding: 10%;
}

@media screen and (min-width: 48em) {
  #promoSection {
    height: 93vh;
  }

  #promoText {
    padding: 15%;
  }
}
@media screen and (min-width: 64em) {
  #promoSection {
    padding: 10%;
  }
}
#aboutSection {
  text-align: center;
  padding: 10%;
}

@media screen and (min-width: 48em) {
  #aboutSection {
    padding: 15%;
  }
}
@media screen and (min-width: 64em) {
  #aboutSection {
    padding: 0%;
  }

  #aboutText {
    padding: 10%;
  }

  #aboutImg {
    padding-top: 10%;
  }
}
.controls {
  padding: 10px;
  background-color: #174793;
  text-align: center;
}

.controls img {
  width: 5%;
  cursor: pointer;
  margin-right: 1%;
  margin-left: 1%;
}

#videoBox {
  width: 100%;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  max-height: 88vh;
}

@media screen and (min-width: 64em) {
  .controls img {
    width: 3%;
  }
}
#featureSection {
  background-color: #f7f7f7;
  text-align: center;
  padding: 10%;
}

.feature {
  padding: 5%;
}

.featureIcon {
  width: 30%;
  padding: 2%;
}

@media screen and (min-width: 48em) {
  #featureSection {
    padding: 15%;
  }
}
@media screen and (min-width: 64em) {
  #featureSection {
    text-align: left;
    padding: 10%;
  }

  #featureTitle {
    padding: 3%;
  }

  .feature {
    padding: 4%;
  }

  .featureIcon {
    width: 35%;
  }
}
#reviewSection {
  background-color: #174793;
  text-align: center;
  padding: 10%;
  color: #fff;
}

#reviewImg ul {
  list-style-type: none;
}

#reviewImg ul li {
  display: inline;
}

#reviewImgList a {
  display: inline;
}

.reviewImg {
  width: 15%;
  padding: 1%;
}

#reviewImgSelect {
  width: 20%;
}

@media screen and (min-width: 48em) {
  #reviewSection {
    padding: 15%;
  }
}
#mainFooter {
  background-color: #174793;
  color: #fff;
  text-align: center;
  padding: 5%;
}

#socialMedia {
  padding-bottom: 5%;
}

#socialMedia a {
  padding-left: 5%;
  padding-right: 5%;
}

#socialMedia img {
  width: 10%;
}

@media screen and (min-width: 48em) {
  #mainFooter p {
    font-size: 1.2em;
  }

  #socialMedia img {
    width: 8%;
  }
}
@media screen and (min-width: 64em) {
  #socialMedia img {
    width: 5%;
  }

  #mainFooter p {
    font-size: 1em;
  }

  #mainFooter {
    padding: 3%;
  }
}
#contactSection {
  background-color: #f7f7f7;
  text-align: center;
  padding: 10%;
}

@media screen and (min-width: 48em) {
  #contactSection form textarea {
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 64em) {
  #contactSection {
    padding: 15%;
  }
}
body {
  color: #3e3f3f;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2em;
}

p {
  font-family: "Sintony", sans-serif;
}

.siteBtn {
  background-color: #f1a300;
  padding: 3%;
  border-radius: 10%;
  cursor: pointer;
  color: #fff;
  transition-duration: 0.6s;
}

.siteBtn:hover {
  background-color: #ce8c01;
}

@media screen and (min-width: 48em) {
  h2 {
    font-size: 2.6em;
  }

  p {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 64em) {
  .siteBtn {
    padding: 2% 8%;
  }
}

/*# sourceMappingURL=app.css.map */
